In [1]:
import pandas as pd

# Step 1: Load Pre-study.csv
per_trial = pd.read_csv('/Users/Patron/Desktop/project/data/per-trial.csv')

In [2]:
per_trial.isna().sum()

participant_id                      0
input_type                          0
model_order                         0
diagnosis_type                      0
shown_confidence_A                  0
shown_confidence_B                  0
trust_rating_A                      0
trust_rating_B                      0
first_response_confidence_rating    0
final_confidence_rating             0
final_trust_rating                  0
preferred_model                     0
trust_reasoning_text                0
dtype: int64

In [3]:
per_trial['input_type_encoded'] = per_trial['input_type'].map({
    'text': 0,
    'image': 1
})

In [4]:
per_trial['model_order_encoded'] = per_trial['model_order'].map({
    'A, B': 0,
    'B, A': 1
})

In [5]:
per_trial['diagnosis_type_encoded'] = per_trial['diagnosis_type'].map({
    'consistent': 0,
    'conflicting': 1,
    'partially consistent': 1
})

In [6]:
per_trial['preferred_model'] = per_trial['preferred_model'].str.strip().str.capitalize()

per_trial['preferred_model_encoded'] = per_trial['preferred_model'].map({
    'A': 0,
    'B': 1,
    'Both': 2
})

In [7]:
import re

def extract_confidence(value):
    if pd.isna(value):
        return 0
    value = value.strip()
    if value.lower() == 'no':
        return 0
    match = re.search(r'\((\d+)\)', value)
    if match:
        return int(match.group(1))
    else:
        return 0  # default if something weird happens

# Apply the function to both columns
per_trial['shown_confidence_A_numeric'] = per_trial['shown_confidence_A'].apply(extract_confidence)
per_trial['shown_confidence_B_numeric'] = per_trial['shown_confidence_B'].apply(extract_confidence)

In [8]:
per_trial.drop(columns=['input_type','model_order','diagnosis_type','preferred_model', 'trust_reasoning_text','shown_confidence_A','shown_confidence_B'])

,participant_id,trust_rating_A,trust_rating_B,first_response_confidence_rating,final_confidence_rating,final_trust_rating,input_type_encoded,model_order_encoded,diagnosis_type_encoded,preferred_model_encoded,shown_confidence_A_numeric,shown_confidence_B_numeric
0,aish,4,4,4,3,3,0,0,1,1,3,4
1,akan,5,5,5,5,3,0,1,0,1,5,3
2,akas,4,4,4,4,4,0,0,0,1,0,0
3,anan,4,3,3,2,2,0,1,1,0,2,5
4,anja,4,5,3,4,4,1,1,0,0,0,0
5,arju,5,4,5,5,2,1,0,1,0,0,0
6,ashu,3,4,4,3,3,1,1,1,1,3,4
7,jyot,5,3,3,3,3,0,1,0,0,0,0
8,kath,4,5,4,3,3,0,0,0,1,4,3
9,kesa,3,4,4,2,2,1,1,1,1,0,0
10,likh,5,4,5,3,2,0,0,1,0,0,0
11,madh,3,5,4,3,3,0,0,1,1,0,0
12,mano,3,2,2,1,1,0,1,1,0,0,0
13,moni,4,5,4,5,4,0,1,0,1,5,4
14,navi,5,2,5,5,3,0,0,1,0,5,3
15,nira,4,3,3,3,3,0,1,0,0,5,1
16,prak,3,4,4,3,4,0,0,1,1,5,2
17,ramm,4,3,4,4,4,0,0,0,0,3,2
18,sah,3,4,3,3,2,1,1,1,0,4,3
19,sasi,3,4,3,3,3,1,0,1,1,0,0
20,shar,5,1,4,5,3,1,0,1,0,0,0
21,soni,3,4,3,3,3,0,0,0,0,3,4
22,srir,3,5,5,4,3,0,1,0,1,3,5
23,swet,4,3,3,4,5,0,0,0,0,3,2
24,vish,4,3,3,2,2,1,0,1,1,0,0
25,vive,4,4,3,2,2,0,0,1,1,0,0

In [9]:
per_trial.to_csv("/Users/Patron/Desktop/project/data/per_trial_cleaned.csv",index=False)